body {
    background-color: black;
    overflow: hidden;
  }
  
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    display: block;
    text-align: center;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
  }
  .puzz{
      display: block;
      margin: auto;
  }